In [6]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('../stat_analysis/data/ch2_scores_em.csv',
                index_col = 'student number')

df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [25]:
scores=np.array(df['english'])[:10]

In [26]:
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [33]:
scores_df = pd.DataFrame({'score':scores},
                        index=pd.Index(['A','B','C','D','E','F','G','H','I','J'],
                        name = 'Student'))

scores_df

         score
Student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [34]:
sum(scores)/len(scores)

np.float64(55.0)

In [36]:
np.mean(scores)

np.float64(55.0)

In [37]:
sorted_scores = np.sort(scores)

In [38]:
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69])

In [39]:
n = len(sorted_scores)
if n % 2 == 0:
    m0 = sorted_scores[n//2-1]
    m1 = sorted_scores[n//2]
    median = (m0 + m1) / 2
else:
    median = sorted_scores[(n+1)//2-1]
median

np.float64(56.5)

In [40]:
np.median(scores)

np.float64(56.5)

In [41]:
scores_df.median()

score    56.5
dtype: float64

In [42]:
pd.Series([1, 1, 1, 2, 2, 3]).mode()

0    1
dtype: int64

In [44]:
pd.Series([1, 2, 3, 4, 5]).mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64